# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSVC
*.ilk
*.pdb
CppProperties.json

# Qt
*.autosave
*.user
*.4.8-pre1
/generated
/build

# openCV
/opencv

# MSVC
/.vs
/GeneratedFiles
/x64
/debug
/release
.qmake.stash
qvs_resource.rc
qvs-debug-64bit-msvc_resource.rc
qvs.vcxproj.filters
qvs.pro.user.*

# Blockly
blockly/*.blockly

# testing
preview/test/*

# req
qt*.exe
