*.html linguist-language=JavaScript
*.css linguist-language=JavaScript
*.js linguist-detectable=true
*.h linguist-language=C++
blockly/script_blockly/*.js linguist-vendored
blockly/script_blockly/*.map linguist-vendored
blockly/script_blockly/blocks/*.js linguist-vendored
blockly/script_blockly/core/*.js linguist-vendored
blockly/script_blockly/core/components/*.js linguist-vendored
blockly/script_blockly/core/components/tree/*.js linguist-vendored
blockly/script_blockly/core/interfaces/*.js linguist-vendored
blockly/script_blockly/core/keyboard_nav/*.js linguist-vendored
blockly/script_blockly/core/renderers/*.js linguist-vendored
blockly/script_blockly/core/renderers/common/*.js linguist-vendored
blockly/script_blockly/core/renderers/geras/*.js linguist-vendored
blockly/script_blockly/core/renderers/geras/measurables*.js linguist-vendored
blockly/script_blockly/core/renderers/measurables/*.js linguist-vendored
blockly/script_blockly/core/renderers/minimalist/*.js linguist-vendored
blockly/script_blockly/core/renderers/thrasos/*.js linguist-vendored
blockly/script_blockly/core/renderers/zelos/*.js linguist-vendored
blockly/script_blockly/core/renderers/zelos/measurables*.js linguist-vendored
blockly/script_blockly/core/theme/*.js linguist-vendored
blockly/script_blockly/core/utils/*.js linguist-vendored
blockly/script_blockly/generators/*.js linguist-vendored
blockly/script_blockly/generators/python/*.js linguist-vendored
blockly/script_blockly/msg/*.js linguist-vendored
blockly/script_blockly/msg/js/*.js linguist-vendored
blockly/script_blockly/msg/json/*.js linguist-vendored
ffmpeg/include/libavcodec/*.h linguist-vendored
ffmpeg/include/libavdevice/*.h linguist-vendored
ffmpeg/include/libavfilter/*.h linguist-vendored
ffmpeg/include/libavformat/*.h linguist-vendored
fmpeg/include/libavutil/*.h linguist-vendored
ffmpeg/include/libpostproc/*.h linguist-vendored
ffmpeg/include/libswresample/*.h linguist-vendored
ffmpeg/include/libswscale/*.h linguist-vendored
