*.html linguist-language=JavaScript
*.css linguist-language=JavaScript
*.js linguist-detectable=true
blockly/script_blockly/*.js linguist-vendored
blockly/script_blockly/*.map linguist-vendored
blockly/script_blockly/blocks/* linguist-vendored
blockly/script_blockly/core/* linguist-vendored
blockly/script_blockly/core/components/* linguist-vendored
blockly/script_blockly/core/components/tree/* linguist-vendored
blockly/script_blockly/core/interfaces/* linguist-vendored
blockly/script_blockly/core/keyboard_nav/* linguist-vendored
blockly/script_blockly/core/renderers/* linguist-vendored
blockly/script_blockly/core/renderers/common/* linguist-vendored
blockly/script_blockly/core/renderers/geras/* linguist-vendored
blockly/script_blockly/core/renderers/geras/measurables* linguist-vendored
blockly/script_blockly/core/renderers/measurables/* linguist-vendored
blockly/script_blockly/core/renderers/minimalist/* linguist-vendored
blockly/script_blockly/core/renderers/thrasos/* linguist-vendored
blockly/script_blockly/core/renderers/zelos/* linguist-vendored
blockly/script_blockly/core/renderers/zelos/measurables* linguist-vendored
blockly/script_blockly/core/theme/* linguist-vendored
blockly/script_blockly/core/utils/* linguist-vendored
blockly/script_blockly/generators/* linguist-vendored
blockly/script_blockly/generators/python/* linguist-vendored
blockly/script_blockly/msg/* linguist-vendored
blockly/script_blockly/msg/js/* linguist-vendored
blockly/script_blockly/msg/json/* linguist-vendored
ffmpeg/include/libavcodec/* linguist-vendored
ffmpeg/include/libavdevice/* linguist-vendored
ffmpeg/include/libavfilter/* linguist-vendored
ffmpeg/include/libavformat/* linguist-vendored
ffmpeg/include/libavutil/* linguist-vendored
ffmpeg/include/libpostproc/* linguist-vendored
ffmpeg/include/libswresample/* linguist-vendored
ffmpeg/include/libswscale/* linguist-vendored
ffmpeg/include/xxxxx/* linguist-vendored
